{% extends 'main.html' %}

{% block content %}
<h1>Login/Register</h1>
<div>
    {% if page == 'register' %}
    <h1>Register User</h1>
    <form method="post" action="{% url 'register' %}" >
        {% csrf_token %}
        {% for field in form %}
            <div class="form__field">
                <label for="formInput#text">{{ field.label }}</label>
                {{field}}
            </div>
            {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        {% endfor %}
        <input type="submit" />
    </form>
    {% else %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" value="" placeholder="user name" />
        <input type="password" name="password" value="" placeholder="password" />
        <input type="submit" name="submit" value="Submit" placeholder="" />
        <p>Dont have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </form>
    {% endif %}
</div>
{% endblock content %}